# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
cmake-build*
build/
result.txt
result2.txt
results_config_en_big/
results_config_ru_big_3/
results_config_ru_big_4/
results_config_ru_big_vectors10/
results_ru_small/
